# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/

# Data / large
*.zip
*.tar
*.gz
*.bin
*.db
*.sqlite
*.log
datasets/
data/
output/
build/

# OS
.DS_Store

terminal-task/final_test/final_proj_3
terminal-task/final_test/jdk-22_linux-x64_bin.deb
terminal-task/final_test/uploads
 
