.communication {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.title {
    margin-left: 30px;
    font-size: 28px; 
    font-weight: bold; 
    color: #3f51b5; 
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 80vw;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    padding: 15px; 
    border: 1px solid #3f51b5; 
    border-radius: 8px; 
    background-color: #e8eaf6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif; 
}

.spoofing-title {
    margin-left: 10px;
}

.communicating-ip {
    flex: 0 0 20%;
    height: 100px;
    background-color: #bbdefb;
    border-left: 4px solid #3f51b5; 
    border-radius: 5px; 
}

.spoofing-ip {
    flex: 0 0 50%;
    height: 200px; 
}

.output-area {
    max-height: 150px;
    overflow-y: auto; 
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; 
    font-family: 'Arial', sans-serif; 
}

.capture-area {
    margin-bottom: 30px;
    margin-top: 100px;
    border: 1px solid #3f51b5; 
    height: 30vh; 
    width: 80vw;
    border-radius: 8px; 
    padding: 10px;
    overflow-y: auto;
    background-color: #f3f4f6; 
}

.packet-list {
    max-height: 100%; 
    overflow-y: auto; 
    padding: 5px; 
    border-radius: 5px; 
    background-color: #fff; 
}

.com {
    margin-bottom: 10px;
}
