.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
    padding-top: 4rem;
    color: white;
    z-index: 100;
}

.error--card {
    background-color: rgb(255, 0, 0, 0.675);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}