.report {
	flex: 1;
}

.name {
	width: fit-content;
	margin-left: 2rem;
	margin-top: 1rem;
	background-color: rgb(var(--bs-primary-rgb));
	padding: 0.5rem 1.5rem;
}

.logout-icon {
	color: rgb(var(--bs-primary-rgb));
	font-size: 2rem;
	cursor: pointer;
}

.logout-text {
	color: rgb(var(--bs-primary-rgb));
	font-size: 1.3rem;
	cursor: pointer;
	border-bottom: 1px solid rgb(var(--bs-primary-rgb));
}

.name-text {
	color: var(--bs-white);
	font-size: 1.3rem;
}

.report-container-heading {
	margin: 1.5rem 0rem;
}

.report-container-heading-text {
	padding-right: 3rem;
	color: rgb(var(--bs-primary-rgb));
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: auto;
	height: 100%;
	display: inline-block;
	width: 20%;
}

.report-addr {
	display: flex;
	flex-direction: column;
	align-items: center;
	display: inline-block;
	width: 80%;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(var(--bs-primary-rgb));
}

.ip {
	background-color: rgb(var(--bs-primary-rgb));
	padding: 0.5rem 1.3rem;
	margin-bottom: 0.5rem;
	width: fit-content;
}

.ip-text {
	color: var(--bs-white);
	font-size: 1.5rem;
	font-weight: 300;
}

.addr-text {
	color: rgb(var(--bs-primary-rgb));
}

.addr {
	position: relative;
}

.report-container--table-div {
	margin: 2rem 0;
	background-color: var(--bd-white-f6-shade);
	height: 100%;
	overflow: hidden;
}

.report-container--table {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.report-container--table-header {
	background-color: rgb(var(--bs-primary-rgb));
}

.report-container--table-header > tr > th {
	padding: 1rem 2rem;
	color: var(--bs-white);
	font-size: 1rem;
}

.report-container--table-body > tr > td {
	padding: 1rem 2rem;
	font-size: 0.875rem;
}

.report-container--table > * > tr > *:nth-child(1) {
	width: 20rem;
}

.report-container--table-body > tr > td > a.report-data-link {
	padding: 0.5rem;
	background-color: rgb(var(--bs-primary-rgb));
	color: var(--bs-white);
	text-decoration: none;
	cursor: pointer;
}

.report-container--table-body > tr > td > button.report-data-link {
	padding: 0.5rem;
	background-color: rgb(var(--bs-primary-rgb));
	color: var(--bs-white);
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
	margin-left: 2rem;
}

.report-raw-file--div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.375);
	z-index: 100;
}

.report-dropdown-div{
	padding: 0.5rem;
	margin: 1rem;
	width: 97%;
}

.sevetiry-low{
	background-color: rgba(0, 128, 0, 0.829);
	color: black;
}

.sevetiry-medium{
	background-color: rgb(255, 208, 0);
	color: black;
}

.severity-high{
	background-color: rgba(255, 0, 0, 0.719);
	color: black;
}

.severity-unknown{
	background-color: gray;
	color: white;
}