.running-app-status {
    flex: 1;
}

.app-running-status-buttons {
	display: flex;
	justify-content: space-between;
}

.app-running-status-buttons > button {
	background-color: #1260cc;
	color: #fff;
	font-weight: 500;
	padding: 0.5rem 3.5rem;
	outline: none;
	border: none;
    margin: 0.5rem;
}

.third-party-apps-header {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-party-apps-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.third-party-apps-list-item {
    padding: 0.5rem 2.5rem;
    border: 1px solid #1260cc;
}

.third-party-apps-list-item > label {
    word-wrap: break-word;
    text-overflow: hidden;
    width: 100%;
}

.running-apps-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.running-apps-loader > span {
    background-color: #1260cc;
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.5rem;
}

.running-apps-loader > span:nth-child(1) {
    animation: running-apps-loader 0.5s ease-in-out infinite;
}

.running-apps-loader > span:nth-child(2) {
    animation: running-apps-loader 0.5s ease-in-out 0.1s infinite;
}

.running-apps-loader > span:nth-child(3) {
    animation: running-apps-loader 0.5s ease-in-out 0.2s infinite;
}

.running-apps-loader > span:nth-child(4) {
    animation: running-apps-loader 0.5s ease-in-out 0.3s infinite;
}

@keyframes running-apps-loader {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}